# Ignorar configuración de usuario de Visual Studio
.vs/
*.user
*.suo

# Ignorar compilaciones
bin/
obj/

# Archivos temporales
*.log
*.tmp
*.vsidx
*.cache

# Archivos de sistema
Thumbs.db
Desktop.ini